@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: hsl(60, 7%, 6%);
  --foreground-primary: hsl(60, 100%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
